<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/perfilcliente.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <title>Document</title>
</head>

<body>
    <!-- Aca comienzan las alertas -->
    <div class="alert-ask" id="alertAsk">
        Quieres cambiar la imagen?
        <div class="box-btn">
            <button class="btn-alert" id="btnA">Aceptar</button>
            <button class="btn-alert" id="btnC">Cancelar</button>
        </div>
    </div>

    <div class="alert-acep" id="alertAcep">
        Seleccionar imagen
        <form action="/guardar-imagen" method="post" enctype="multipart/form-data">
            <div class="box-file">
                <input type="file" name="imagen" accept="image/*" class="file">Seleccionar

                <input type="submit" value="guardar">
            </div>
        </form>

    </div>
    <!-- Aca terminan las alertas -->

    <div class="alerta-catalogo-cliente">
        {% for aplicacion in aplicaciones %}
        {%  if aplicacion['EstadoOferta'] != 'Inactiva' %}
        <div class="box-catalogo">

            <p>Titulo empleo:</p>
            <p class="texto-informacio-catalogo">{{ aplicacion['TituloEmpleo'] }}</p>
            <p>descripccion empleo:</p>
            <p class="texto-informacio-catalogo">{{ aplicacion['DescripcionEmpleo'] }}</p>
            <p>requisitos empleo:</p>
            <p class="texto-informacio-catalogo">{{ aplicacion['RequisitosEmpleo'] }}</p>
            <p>fecha publicacion:</p>
            <p class="texto-informacio-catalogo">{{ aplicacion['FechaPublicacion'] }}</p>
            {{ aplicacion['IdEmpleo'] }}
            
            <a href="{{ url_for('perfilcliente.desactivaoferta', id=aplicacion['IdEmpleo']) }}">eliminar</a>
            
        </div>
        {% endif %}
        {% endfor %}
        
        
        <button class="btn-cancelar-catalogo">X</button>
    </div>

    <!-- header--------------------------- -->
    <header>
        <a href="/#home" class="logo">
            <img src="../static/multimedia/logo.png" alt="">
        </a>
        <ul class="navbar">
            <li><a href="/#home">Home</a></li>
            <li><a href="/#nosotros">Nosotros</a></li>
            <li><a href="/catalogo">Servicios</a></li>
            <li><a href="/#footer">Contactanos</a></li>
            <li><a href="/">Publicaciones</a></li>
            <li><a href="{{ url_for('ofertaempleo.ofertaempleo') }}">Publicar</a></li>
            <li><a href="{{ url_for('logout.logout') }}">>]</a></li>

        </ul>

        <div class="h-boton">
            <div class="icono-menu"><ion-icon name="reorder-four-outline"></ion-icon></div>
        </div>

    </header>


    <main>
        <div class="card-user">
            <div class="user-image">
               
                <div class="imagen-usuario">
                    <img src="{{ url_imagen }}" alt="" class="card-user-img" id="imgUser">
                </div>
            </div>
            <h1>Bienvenido, {{ sesion['nombre'] }}!</h1>
            <div class="box-info">
                <p>Lorem ipsum dolor orem ipsum dolor, sit amet consectetur adipisicing elit. Ea ipsum aliquam
                    consequuntur,
                    impedit tempora architecto magnam distinctio modi cumque porro? Lorem ipsum dolor sit,
                    amet consectetur adipisicing elit. Corporis voluptatem nostrum dolorem iste dd </p>
            </div>
        </div>

        <div class="card-work">
            <div class="box-title">
                <h1>Reseñas</h1>
            </div>
            <div class="box-backg">

        
            {% for aplicacion in aplicaciones%}
            {% if aplicacion['EstadoAplicacion'] != 'rechazada' and aplicacion['EstadoAplicacion'] != 'finalizada' %}
                <div class="box-coment">
                    <div class="box-backg-user">
                        <img src="{{ url_imagen_aplicacion }}" alt="" class="img-backg-user">
                    </div>
    
                    <div class="box-coment-user">
                        <div class="box-coment-text">
                            <!-- </p>  
                            -->
                        
                            <div class="nombre">
                                <div class="nombre-text"><h2>Nombre:</h2></div>
                                <p>{{ aplicacion['NombresUsuario']}}
                            </div>
                            <div class="fecha">
                                <div class="fecha-text"><h2>Fecha:</h2></div>
                                <p>{{ aplicacion['FechaAplicacion']}}
                            </div>
                            <div class="valor">
                                <div class="valor-text"><h2>Valor :</h2></div>
                                <p>{{ aplicacion['ValorSugerido']}}</p> 
                            </div>
                        </div>
                    </div>
                    <div class="box-botones">
                        {% if aplicacion['EstadoAplicacion'] == 'admitida' %}
                            <a href="#" class="aceptar">contrado</a>
                            <a href="{{ url_for('correo.finalizar', idu=aplicacion['IdAplicaciones'] )}}" class="rechazar">Finalizar</a>
                            
                        {% endif %}
                        {% if aplicacion['EstadoAplicacion'] == 'pendiente' %}
                            <a href="{{ url_for('correo.contrato', ido=aplicacion['IdUsuario'] ,id=sesion['nombre'], ide=aplicacion['IdAplicaciones'] ) }}" class="aceptar">Aceptar</a>

                            <a href="{{ url_for('correo.rechazar', ida=aplicacion['IdAplicaciones'] ) }}" class="rechazar">Rechazar</a>
                        {% endif %}
                    </div>
                </div>  
                {% endif %}        
            {% endfor%}
   

                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer" id="footer">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="../static/multimedia/logo.png" alt="">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>Sobre Nosotros</h2>
                <p>Somos un Emprendimiento Apoyado del sena y con la busqueda de mejorar el pais.</p>
                <p>Estamos en El inicio del cambio para poder dar trabajos.</p>
            </div>
            <div class="box">
                <h2>Siguenos</h2>
                <div class="red-social">
                    <a href="https://www.youtube.com/" link="" class="R-1"><ion-icon name="logo-facebook" role="img"
                            class="md hydrated"></ion-icon></a>
                    <a href="" class="R-2"><ion-icon name="logo-whatsapp"></ion-icon> </a>
                    <a href="" class="R-3"><ion-icon name="logo-tiktok"></ion-icon></a>
                    <a href="" class="R-4"><ion-icon name="logo-instagram"></ion-icon></a>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2023 <b>Labor lane</b>- Todos los Derechos Reservados</small>
        </div>


    </footer>

    <!--link de la paguina de los iconos -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <div class="loader"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="../static/js/perfilcliente.js"></script>
</body>

</html>